body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  font-family: arial;
}

.white {
  background-color: white;
}

.shadow {
  box-shadow: 1px 2px 10px #c5c5c5;
}

h1 {
  font-size: calc(14px + 0.8vw);
}

h2 {
  font-size: calc(12px + 0.6vw);
}

h1 {
  font-size: calc(24px + 0.8vw);
}

h2 {
  font-size: calc(18px + 0.6vw);
}

h3 {
  font-size: calc(14.04px + 0.5vw);
}

h4 {
  font-size: calc(12px + 0.4vw);
}

h5 {
  font-size: calc(9.96px + 0.35vw);
}

h6 {
  font-size: calc(8.04px + 0.25vw);
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --transition_time: 600ms;
  --color_validation: rgb(153, 226, 208);
  --transition_time_return: 1200ms;
  --transition_delay_return: 00ms;
}

.container_header {
  width: 100%;
  height: auto;
}

.container_main {
  background-color: #f6f6f6;
  width: calc(100% - 30px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px 15px 0px 15px;
  position: relative;
  top: -40px;
}
.container_main .titre {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.container_main h1 {
  padding: 0;
  margin: 0;
}
.container_main h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.container_main h3 {
  padding: 0;
  margin: 0;
}
.container_main p {
  padding: 0;
  margin: 0;
}
.container_main > p {
  padding-top: 25px;
}
.container_main .little_square {
  width: 50px;
  height: 3px;
  background-color: var(--color_validation);
  margin-bottom: 15px;
  margin-top: 5px;
}

.container_footer {
  width: calc(100% - 40px);
  height: auto;
  background-color: #353535;
  color: white;
  padding: 20px;
}
.container_footer p {
  margin: 4px;
  padding: 0px;
}

.container_main > :nth-child(1) {
  animation: box 1s 200ms both;
}

.container_main > :nth-child(2) {
  animation: box 1s 400ms both;
}

.container_main > :nth-child(3) {
  animation: box 1s 600ms both;
}

.container_main > :nth-child(4) {
  animation: box 1s 800ms both;
}

.container_main > :nth-child(5) {
  animation: box 1s 1000ms both;
}

.container_main > :nth-child(6) {
  animation: box 1s 1200ms both;
}

.container_main > :nth-child(7) {
  animation: box 1s 1400ms both;
}

.container_main > :nth-child(8) {
  animation: box 1s 1600ms both;
}

.container_main > :nth-child(9) {
  animation: box 1s 1800ms both;
}

.container_main > :nth-child(10) {
  animation: box 1s 2000ms both;
}

.container_main > :nth-child(11) {
  animation: box 1s 2200ms both;
}

.container_main > :nth-child(12) {
  animation: box 1s 2400ms both;
}

.container_main > :nth-child(13) {
  animation: box 1s 2600ms both;
}

.container_main > :nth-child(14) {
  animation: box 1s 2800ms both;
}

.container_main > :nth-child(15) {
  animation: box 1s 3000ms both;
}

.container_main > :nth-child(16) {
  animation: box 1s 3200ms both;
}

.container_main > :nth-child(17) {
  animation: box 1s 3400ms both;
}

.container_main > :nth-child(18) {
  animation: box 1s 3600ms both;
}

.container_main > :nth-child(19) {
  animation: box 1s 3800ms both;
}

.container_main > :nth-child(20) {
  animation: box 1s 4000ms both;
}

.container_main > :nth-child(1) {
  animation: box 1s 200ms both;
}

.container_main > :nth-child(2) {
  animation: box 1s 400ms both;
}

.container_main > :nth-child(3) {
  animation: box 1s 600ms both;
}

.container_main > :nth-child(4) {
  animation: box 1s 800ms both;
}

.container_main > :nth-child(5) {
  animation: box 1s 1000ms both;
}

.container_main > :nth-child(6) {
  animation: box 1s 1200ms both;
}

.container_main > :nth-child(7) {
  animation: box 1s 1400ms both;
}

.container_main > :nth-child(8) {
  animation: box 1s 1600ms both;
}

.container_main > :nth-child(9) {
  animation: box 1s 1800ms both;
}

.container_main > :nth-child(10) {
  animation: box 1s 2000ms both;
}

.container_main > :nth-child(11) {
  animation: box 1s 2200ms both;
}

.container_main > :nth-child(12) {
  animation: box 1s 2400ms both;
}

.container_main > :nth-child(13) {
  animation: box 1s 2600ms both;
}

.container_main > :nth-child(14) {
  animation: box 1s 2800ms both;
}

@keyframes box {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.choix_box {
  width: calc(100% - 0px);
  height: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.choix_txt {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: width var(--transition_time_return) var(--transition_delay_return);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
}

.choix_validation {
  width: 15%;
  height: 100%;
  background-color: var(--color_validation);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.baseline {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.fa-check-circle {
  transition: transform var(--transition_time_return) var(--transition_delay_return);
  color: white;
}

.price {
  margin-left: 20px;
}

.choix_box:hover .choix_txt {
  width: calc(85% - 20px);
  transition: width var(--transition_time);
}

.choix_box:hover .choix_validation {
  width: 16%;
  transition: width var(--transition_time);
}

.choix_box:hover .fa-check-circle {
  transform: rotate(1turn);
  transition: transform var(--transition_time);
}

.button_nav {
  width: calc(100% - 0px);
  height: auto;
  display: flex;
  align-items: center;
  padding: 20px 20px 10px 20px;
  background-color: white;
  border: none;
}

.button_logo {
  width: 55%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-items: center;
  margin: auto;
}

.button_commander_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button_commander {
  width: 200px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 2px 10px #c5c5c5;
  background: linear-gradient(175deg, #ee73da, #a05adc);
  margin: auto;
}
.button_commander:hover {
  background: linear-gradient(175deg, rgba(238, 115, 218, 0.8), rgba(160, 90, 220, 0.8));
}

.img_top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo_footer {
  filter: invert(100%);
  width: 30%;
}

.icone_footer {
  width: 5%;
}

.carte_restau_txt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.carte_restau_txt h3 {
  padding: 0;
  margin: 0;
}
.carte_restau_txt p {
  padding: 0;
  margin: 0;
}

.block {
  width: auto;
  height: auto;
  display: inline-block;
}

.black {
  color: var(--color4);
  background-color: white;
}

.container_modele_3 {
  width: 100%;
  padding: 5px 0px 10px 0px;
}

.carte-modele-3 {
  width: 100%;
  padding-bottom: 67%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px #dfdfdf;
  position: relative;
}

.carte-modele-3 > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carte-modele-3-txt {
  width: calc(100% - 40px);
  height: 50px;
  padding: 0px 25px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carte-modele-3-img {
  width: 100%;
  height: calc(100% - 60px);
  object-fit: cover;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

@media (min-width: 550px) {
  .collection3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container_modele_3 {
    min-width: 200px;
    width: calc(50% - 20px);
    padding: 5px 10px 10px 10px;
  }
}
@media (min-width: 900px) {
  .collection3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container_modele_3 {
    min-width: 200px;
    width: calc(25% - 20px);
    padding: 5px 10px 10px 10px;
  }
}
.heart_icone_container {
  width: 15px;
  height: 15px;
  position: relative;
}

.far {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.fa {
  visibility: hidden;
}

.heart_icone_container:hover .fa {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
}

.heart_icone_container:hover .far {
  visibility: hidden;
}

.fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ee73da), to(#a05adc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_top {
  padding: 20px 0px;
  background-color: white;
}

.lieu {
  width: calc(100% - 40px);
  height: auto;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: -1;
}
.lieu > i, .lieu p {
  padding: 0px 10px;
}

.container_main_index {
  width: 100%;
  height: auto;
}
.container_main_index .part1 {
  width: calc(100% - 50px);
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 20px 25px;
  text-align: center;
}
.container_main_index .part1 p {
  padding: 0px;
  margin: 0px;
}
.container_main_index .part2 {
  background-color: white;
  width: calc(100% - 30px);
  padding: 20px 15px 20px 15px;
}
.container_main_index .part2 .container_fonctionnement {
  background-color: #f6f6f6;
  border-radius: 15px;
  width: calc(100% - 40px);
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding: 0;
}
.container_main_index .part2 .circle {
  width: 22px;
  height: 22px;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.container_main_index .part2 .container_fonctionnement > i {
  padding: 0px 15px;
}
.container_main_index .part2 .container_fonctionnement > * {
  position: relative;
  left: -12px;
}
.container_main_index .part2 .container_fonctionnement:hover {
  background-color: #f5edff;
}
.container_main_index .part2 .container_fonctionnement > .fas {
  color: grey;
}
.container_main_index .part2 .container_fonctionnement:hover > .fas {
  color: #9356dc;
}
.container_main_index .part3 {
  background-color: #f6f6f6;
  width: calc(100% - 30px);
  padding: 0px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 550px) {
  .part2 {
    background-color: white;
    width: calc(100% - 30px);
    padding: 20px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .part2 .container_fonctionnement {
    max-width: 550px;
  }

  .part3 {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
