body {
    padding: 0;
    margin: 0;
    background-color:  rgb(246, 246, 246);
    font-family: arial;
    width: 100%;
    height: auto;
}

.white {
    background-color: white;
}

.shadow{
  box-shadow: 1px 2px 10px rgb(197, 197, 197);
}
  
  h1 {
  font-size: calc(14px + 0.8vw);  
  }
  h2 {
  font-size: calc(12px + 0.6vw);  
  }

  h1 {
    font-size: calc(24px + 0.8vw);  
  }
  h2 {
    font-size: calc(18px + 0.6vw);  
  }
  h3 {
    font-size: calc(14.04px + 0.5vw);  
  }
  h4 {
    font-size: calc(12px + 0.4vw);  
  }
  h5 {
    font-size: calc(9.96px + 0.35vw);  
  }
  h6 {
    font-size: calc(8.04px + 0.25vw);  
  }


  a {
    text-decoration: none;
    color: black;
  }