.container_header {
    width: 100%;
    height: auto;
    display:inline-block;
}



.container_main {
    background-color:  rgb(246, 246, 246);
    width: calc(100% - 30px);
    max-width: 500px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px 15px 0px 15px;
    position: relative;
    top: -40px;


        
    
    .titre {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }

    & h1 {
        padding: 0;
        margin: 0;
    }

    & h2 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    & h3 {
        padding: 0;
        margin: 0;
    }

    & p {
        padding: 0;
        margin: 0;
    }

    &>p {
        padding-top: 25px;
    }

    & .little_square {
        width: 50px;
        height: 3px;
        background-color: var(--color_validation);
        margin-bottom: 15px;
        margin-top: 5px;
    }
  }
  @media (min-width: 550px){
        
    .container_main{
        background-color:  rgba(246, 246, 246, 0.8);
        position: relative;
        top: 0px;
    }
    }

.container_footer {
    width: calc(100% - 40px);
    height: auto;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;

    & p {
        margin: 4px;
        padding: 0px;
    }
}
