.logo_top {
    padding: 20px 0px;
    background-color: white;
}

.lieu {
    width: calc(100% - 40px);
    height: auto;
    background-color: rgba(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: -1;

    & > i, p {
        padding: 0px 10px;
    }
}

.container_main_index {
    width: 100%;
    height: auto;

    & .part1 {
        width: calc(100% - 50px);
        background-color:  rgb(246, 246, 246);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 25px 20px 25px;
        text-align: center;

        & p {
            padding: 0px;
            margin: 0px;
        }
    }

    & .part2 {
        background-color:  white;
        width: calc(100% - 30px);        
        padding: 20px 15px 20px 15px;

        & .container_fonctionnement {
            background-color:  rgb(246, 246, 246);
            border-radius: 15px;
            width: calc(100% - 40px);
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 20px;
            padding: 0;
          }
          .circle {
            width: 22px;
            height: 22px;
            background-color: rgb(147, 86, 220);
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
          }
          .container_fonctionnement > i {
            padding: 0px 15px;
          }
          .container_fonctionnement > * {
            position: relative;
            left: -12px;
          }

          .container_fonctionnement:hover {
            background-color: rgb(245, 237, 255);
          }

          .container_fonctionnement > .fas {
              color: grey;
          }

          .container_fonctionnement:hover > .fas {
            color: rgb(147, 86, 220);
          }
        
    }

    & .part3 {
        background-color:  rgb(246, 246, 246);
        width: calc(100% - 30px);        
        padding: 0px 15px 0px 15px;

    }

}

