@for $i from 1 through 20 {
  .container_main > :nth-child( #{$i}){
    animation: box 1s 200ms*$i both; 
  }
}

@keyframes box {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}  
  