:root {
    --transition_time: 600ms;
    --color_validation: olive;
    --transition_time_return: 1200ms;
    --transition_delay_return: 00ms;
  }
  
  .container {
    background-color: black;
    width: 90%;
    height: 700px;
  }
  .container_ensemble{
    background-color: grey;
    width: 90%;
    height: 100px;
    border: 2px white solid;
    margin: auto;
  }

  .container_ensemble:nth-child(1) {
    animation: box 1s 200ms both;
  }
  .container_ensemble:nth-child(2) {
    animation: box 1s 400ms both; 
  }
  .container_ensemble:nth-child(3) {
    animation: box 1s 600ms both; 
  }
  .container_ensemble:nth-child(4) {  
    animation: box 1s 800ms both; 
  }
  
  @keyframes box {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  