.button_commander_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_commander {
    width: 200px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 2px 10px rgb(197, 197, 197);
    background: linear-gradient(175deg, 
                                rgb(238, 115, 218), 
                                rgb(160, 90, 220));
    margin: auto;
    &:hover{
        box-shadow: 3px 4px 15px 3px rgb(197, 197, 197);
        background: linear-gradient(175deg, 
                                    rgba(238, 115, 218, 0.8),
                                    rgb(160, 90, 220, 0.8));
    }
  }