.button_nav {
    width: calc(100% - 0px);
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px 20px 10px 20px;
    background-color: white;
    border: none;
}

.button_logo {
    width: 55%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-items: center;
    margin: auto;
}